---
// import Welcome from '../components/Welcome.astro';
import aeronautica from '../assets/images/home/aeronautica.jpg';
import automotriz from '../assets/images/home/automotriz.jpg';
import bioclimatica from '../assets/images/home/bioclimatica.jpg';
import ciencias from '../assets/images/home/ciencias.jpg';
import energia from '../assets/images/home/energia.jpg';
import maestria from '../assets/images/home/maestria.jpg';
import mecatronica from '../assets/images/home/mecatronica.jpg';
import negocios from '../assets/images/home/negocios.jpg';
import sistemas from '../assets/images/home/sistemas.jpg';
import Card from '../components/shared/card.astro';
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<div class="flex justify-center w-screen flex-row flex-wrap gap-3 bg-slate-600 h-screen items-center">
		<Card 
		title="Ingeniería en Sistemas computacionales "
		image={sistemas.src}
		description="Diseña, desarrolla e implementa sistemas informáticos en organizaciones, utilizando tecnologías de información y comunicación para asegurar la eficiencia en los procesos productivos.">
		</Card>

		<Card 
		title="Ingeniería Mecatrónica"
		image={mecatronica.src}
		description="Desarrolla soluciones integrales con tecnologías avanzadas, creando aplicaciones en sistemas robóticos, mecánicos, de automatización y control, para innovar y mejorar el desarrollo tecnológico en diversos sectores, beneficiando a la sociedad y al medio ambiente.">
		</Card>
		
		<Card 
		title="Negocios Internacionales"
		image={negocios.src}
		description="Dirige, asesora y ejecuta estrategias gerenciales y de negociación en entornos competitivos e inciertos, utilizando e innovando herramientas administrativas, económicas, financieras y mercadológicas.">
		</Card>

		<Card 
		title="Ingeniería en Energía "
		image={energia.src}
		description="Busca innovar soluciones para el uso eficiente de fuentes de energía, evaluando y creando tecnologías avanzadas para el desarrollo sostenible">
		</Card>

		<Card 
		title="Ingeniería Mecánica Automotriz "
		image={automotriz.src}
		description="Diseña sistemas mecánicos para transformar materia, mejorar y mantener sectores industriales como automotriz, ferrocarril, médico y servicios, desarrollando productos innovadores y aplicaciones tecnológicas de vanguardia.">
		</Card>

		<Card 
		title="Arquitectura Bioclimática"
		image={bioclimatica.src}
		description="Diseña sistemas mecánicos para transformar materia, mejorar y mantener sectores industriales como automotriz, ferrocarril, médico y servicios, desarrollando productos innovadores y aplicaciones tecnológicas de vanguardia.">
		</Card>

		<Card 
		title="Ingeniería Aeronáutica"
		image={aeronautica.src}
		description="Forma profesionales para investigar, diseñar, construir, mantener y gestionar sistemas y componentes de aeronaves y administrar la infraestructura del sector aeronáutico.">
		</Card>

		<Card 
		title="Maestría en Enseñanza de las Ciencias"
		image={ciencias.src}
		description="Profesores competentes en diseñar e implementar ambientes de aprendizaje científico - tecnológico para desarrollar competencias en Matemáticas y física, utilizando metodologías de investigación educativa.">
		</Card>

		<Card 
		title="Maestría en Ciencias en Ingeniería"
		image={maestria.src}
		description="Aplica la educación basada en competencias para la investigación y el desarrollo de proyectos.">
		</Card>
	</div>
	 
</Layout>
